      <h1>Scrabble Page</h1>

      <form action='/totalScore' method='get'>
        <div class="form-group">
          <label for="word">Enter your word</label>
          <input id="$scrabbleWord" name="scrabbleWord" class="form-control" type="text">
        </div>
         <button type="submit" class="btn">Enter</button>
       </form>
